[submodule "external/godot-cpp"]
	path = external/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = master
	update = checkout
	shallow = true
[submodule "stick-world/config/strategic_map"]
	path = stick-world/config/strategic_map
	url = git@github.com:fanboran/stickworld-mapdata.git
